.title
	+verdana
	+f(44px, 700, 1.23)
	color: $black
	letter-spacing: normal
	+md
		font-size: 30px
	&_lg
		font-size: 30px
		line-height: 1.48
	&_md
		font-size: 21px
		line-height: 1.48
		+md
			font-size: 19px

// letter-spacing: 0.063em
