---
title: Basket
---
{% import "partials/_checkout-form.html" as checkout %}
{% extends "layouts/_layout.html" %}

{% block content %}
		{{header.block({class: 'header_bg'})}}
		<div class="basket-page">
			<div class="basket-page__inner inner">
				<h2 class="basket-page__title title">Корзина</h2>
				<div class="basket-page__basket">
					{% include "partials/_basket.html" %}
				</div>
				<div class="basket-page__descr">
					<p>Чтобы оформить заказ, введите ниже свой e-mail.</p>
					<p>Если вы еще не зарегистрированы на сайте, вам автоматически будет создан аккаунт для этого e-mail’а.</p>
					<p>Пожалуйста, сразу активируйте ссылку, которая придёт на почту, после чего вы получите пароль для входа.</p>
				</div>
				<div class="basket-page__checkout-wrapper row">
					<div class="basket-page__checkout col-6 col-lg-8 col-md-12">
						{{ checkout.form() }}
					</div>
				</div>
			</div>
		</div>
	{{footer.block()}}
{% endblock %}