---
title: Conventions
---
{% extends "layouts/_layout.html" %}

{% block content %}
{{header.block({class: 'header_bg'})}}
	<div class="conventions">
		<div class="conventions__inner inner">
			<div class="conventions__main">
				<div class="conventions__gallery">
					{{gallery.block([
						{
							img: 'gallery.png'
						},
						{
							video: 'event2.png',
							img: 'event2.png'
						},
						{
							img: 'gallery.png'
						},
						{
							img: 'gallery.png'
						},
						{
							img: 'gallery.png'
						},
						{
							img: 'gallery.png'
						},
						{
							img: 'gallery.png'
						}
						])}}
				</div>
				<div class="conventions__text">
					<h2 class="conventions__title title-lg">Конвенции</h2>
					<div class="conventions__descr">
						<p>Компания «Институт Пилатеса Россия» (НОУ «ПИЛАТЕС Институт») была образована в 2001 г. и стала первой компанией, которая привезла пилатес в Россию. Более 15 лет Институт является ведущим учебным заведением дополнительного образования по обучению и повышению квалификации тренеров по пилатесу. За эти годы мы обучили более 5000 тренеров по всей России и СНГ. У нас работает высококвалифицированная команда преподавателей с большим опытом работы. Наши мастер-тренеры постоянно повышают свой уровень профессионализма у лучших мировых мастеров. Мы никогда не стояли на месте, развивая и усовершенствуя учебные программы. Мы ищем для Вас лучшие методики по всему миру. И, как когда -то, мы открыли для России методику Джозефа Пилатеса, так сейчас мы открываем новое направление Body&Mind - "Постуральную гимнастику - гимнастику осанки". Мы проводим регулярные семинары, а также являемся организаторами Международных конвенций Body&Mind, которые проходят два раза в год.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{footer.block()}}
{% endblock %}