---
title: Education
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block({class: 'header_bg'})}}
	<div class="education">
		<div class="education__inner inner">
			{{topic.block(
				{
					title: 'Обучение',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.'
				}
			)}}
			<div class="education__seminar">
				<h2 class="education__title title">Направления и семинары</h2>
				<ul class="education__row row">
					{% for item in range(0, 3) %}
					<li class="education__col col-4 col-sm-12">
						{{ui.seminar({
							img: 'seminar.png',
							title: 'Пилатес	',
							items: [
								'MatWork уровень 1 - (Базовый курс)',
								'MatWork уровень 2 + работа с малым оборудованием',
								'Работа с большим оборудованием',
								'Пилатес для беременных',
								'Пилатес для беременных и людей старшего возраста',
								'Функциональный пилатес'
								]
							})}}
					</li>
					{% endfor %}
				</ul>
			</div>
			<div class="education__convention conventions">
				<div class="conventions__main">
					<div class="conventions__gallery">
						{{gallery.block([
							{
								img: 'gallery.png'
							},
							{
								video: 'event2.png',
								img: 'event2.png'
							},
							{
								img: 'gallery.png'
							},
							{
								img: 'gallery.png'
							},
							{
								img: 'gallery.png'
							},
							{
								img: 'gallery.png'
							},
							{
								img: 'gallery.png'
							}
							])}}
					</div>
					<div class="conventions__text">
						<h2 class="conventions__title title-lg">Конвенции</h2>
						<div class="conventions__descr">
							<p>Компания «Институт Пилатеса Россия» (НОУ «ПИЛАТЕС Институт») была образована в 2001 г. и стала первой компанией, которая привезла пилатес в Россию. Более 15 лет Институт является ведущим учебным заведением дополнительного образования по обучению и повышению квалификации тренеров по пилатесу. За эти годы мы обучили более 5000 тренеров по всей России и СНГ. У нас работает высококвалифицированная команда преподавателей с большим опытом работы. Наши мастер-тренеры постоянно повышают свой уровень профессионализма у лучших мировых мастеров. Мы никогда не стояли на месте, развивая и усовершенствуя учебные программы. Мы ищем для Вас лучшие методики по всему миру. И, как когда -то, мы открыли для России методику Джозефа Пилатеса, так сейчас мы открываем новое направление Body&Mind - "Постуральную гимнастику - гимнастику осанки". Мы проводим регулярные семинары, а также являемся организаторами Международных конвенций Body&Mind, которые проходят два раза в год.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="education__form">
				{{ui.form({title: 'Получите подробную консультацию об обучении'})}}
			</div>
			<div class="education__certificate">
				{% set item = {
					img: 'certificate.png',
					title: 'Сертификат по окончании',
					text: 'После прохождения любого семинара мы предоставстим вам сертификат'
				} %}
				{{ui.certificate(item)}}
			</div>
			<div class="education__event">
				{{event.block()}}
			</div>
			{{instructor.block()}}
			<div class="section">
				<div class="head">
					<h2 class="head__title title">Отзывы</h2>
					<div class="sm-hide">
						<a href="#" class="btn">Остальные отзывы</a>
					</div>
				</div>
				<div class="row">
					{% for item in range(0, 3) %}
					<div class="col-sm-mt col-4 col-sm-12">
						{{ui.instructor({
							name: 'Gussie Hammond',
							aside: 'Стаж инструктора 10 лет',
							text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
						})}}
					</div>
					{% endfor %}
				</div>
				<div class="sm-block">
					<a href="#" class="btn">Остальные отзывы</a>
				</div>
			</div>
		</div>
	</div>
	{{footer.block()}}
{% endblock %}