---
title: Gallery
---
{% extends "layouts/_layout.html" %}

{% block content %}
{{header.block({class: 'header_bg'})}}
	{{topTitle.block(
		{
			title: 'Галерея'
		}
	)}}
	<div class="gallery-block">
			<div class="gallery-block__inner inner">
				{{gallery.block([
					{
						img: 'gallery.png'
					},
					{
						video: 'event2.png',
						img: 'event2.png'
					},
					{
						img: 'gallery.png'
					},
					{
						img: 'gallery.png'
					},
					{
						img: 'gallery.png'
					},
					{
						img: 'gallery.png'
					},
					{
						img: 'gallery.png'
					}
					])}}
			</div>
	</div>
	{{footer.block()}}
{% endblock %}