---
title: Gallery
---
{% extends "layouts/_layout.html" %}

{% block content %}
{{header.block({class: 'header_bg'})}}
	<div class="gallery-page">
		<div class="gallery-page__inner inner">
			<div class="head">
				{{topic.block(
					{
						title: 'Галерея'
					}
				)}}
			</div>
			{{gallery.block([
				{
					img: 'gallery.png'
				},
				{
					video: 'https://www.youtube.com/watch?v=_sI_Ps7JSEk',
					img: 'event2.png'
				},
				{
					img: 'gallery.png'
				},
				{
					img: 'gallery.png'
				},
				{
					img: 'gallery.png'
				},
				{
					img: 'gallery.png'
				},
				{
					img: 'gallery.png'
				}
				])}}
		</div>
	</div>
	{{footer.block()}}
{% endblock %}