---
title: Internal directions
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {{ header.block({class: 'header_bg'}) }}
    <div class="inner">
    	<article>
    		<h1>Пилатес</h1>
    		<p>Ведущая - Жанна Комлева, мастер-тренер Пилатес Институт Россия, одна из самых опытных тренеров нашей страны по пилатесу и постуральной гимнастике. <br>Осанка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
    		<h5><span>MatWork уровень 1 - (Базовый курс)</span></h5>
    		<p>Осанка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
    		<h5><span>MatWork уровень 1 - (Базовый курс)</span></h5>
    		<p>санка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
    		<h5><span>MatWork уровень 1 - (Базовый курс)</span></h5>
    		<p>санка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
    	</article>
    	<div class="section-md">
    		{{ ui.form({title: 'Получите подробную консультацию об обучении'}) }}
    	</div>
    	<div class="section">
		  {% set schedules = [
		    {
		      title: 'Microwave Cooking Is The Wave Of The Future',
		      blocks: [
		        { 
		          dayStart: '01.12.2018',
		          dayEnd: '03.12.2018',
		          city: 'Москва',
		          direction: 'Пилатес',
		          treners: [
		            {
		              name: 'Otmar Doležal'
		            },
		            {
		              name: 'Otmar Doležal'
		            }
		          ],
		          adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
		          price: '17900'
		        },
		        {
		          dayStart: '01.12.2018',
		          dayEnd: '03.12.2018',
		          city: 'Санкт-Петербург',
		          direction: 'Пилатес',
		          treners: [
		            {
		              name: 'Otmar Doležal'
		            },
		            {
		              name: 'Otmar Doležal'
		            }
		          ],
		          adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
		          price: '17900'
		        }
		      ]
		    }
		  ] %}
		  {% for item in schedules %}
		      {{ ui.schedule(item) }}
		  {% endfor %}
    	</div>
    	<div class="section">
    		<div class="head">
    			<h2 class="head__title title">Онлайн курсы</h2>
    			<div class="sm-hide">
	              <a href="#" class="btn">Все онлайн курсы</a>
	            </div>
			</div>
    		<div class="row js-small-slider">
    			{% for item in range(0, 4) %}
    			<div class="col-3 col-md-12">
    				{{ui.course({
    					class: 'course_img',
    					img: 'course.png',
    					title: 'Пилатес для беременных',
    					time: '90 мин',
    					price: '1 500 ₽'
    				})}}
    			</div>
    			{% endfor %}
    		</div>
    		<div class="sm-block">
	            <a href="#" class="btn">Все онлайн курсы</a>
	          </div>
    	</div>
    	<div class="section">
    		<div class="head">
    			<h1 class="title">Галерея</h1>
    		</div>
    		{{gallery.block([
    			{
    				img: 'gallery.png'
    			},
    			{
    				video: 'https://www.youtube.com/watch?v=_sI_Ps7JSEk',
    				img: 'event2.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			}
    			])}}
    	</div>
    	{{instructor.block()}}
    </div>
    {{ footer.block() }}
{% endblock %}