---
title: News-one
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block({class: 'header_bg'})}}
	<div class="news-one">
		<div class="news-one__inner inner">
			<div class="news-one__btn">
				<button class="btn btn_back">
					{{mixins.icon('back')}}
					Все курсы
				</button>
			</div>
			<div class="news-one__main">
				<div class="news-one__left">
					{{ui.socialCard({
						img: 'event1.jpg',
						socials: [
							{
								path: '#',
								icon: "insta"
							},
							{
								path: '#',
								icon: 'vk'
							},
							{
								path: '#',
								icon: 'facebook'
							}
						]
					})}}
				</div>
				<div class="news-one__right">
					<h2 class="news-one__title title title_xl">Постуральная гимнастика — гимнастика осанки</h2>
					<div class="news-one__text">
						<p>Ведущая - Жанна Комлева, мастер-тренер Пилатес Институт Россия, одна из самых опытных тренеров нашей страны по пилатесу и постуральной гимнастике.</p>
						<p>Осанка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{footer.block()}}
{% endblock %}