---
title: Online-courses
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block({class: 'header_bg'})}}
	<div class="online-courses">
		<div class="inner">
			{{topic.block(
				{
					title: 'Онлайн курсы',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar sic tempor. Sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus pronin sapien nunc accuan eget.'
				}
			)}}
			<div class="online-courses__main-list">
				<div class="online-courses__row row js-small-slider">
					<div class="online-courses__main-col col-4 col-md-12">
						{{ui.course({
							class: 'course_img course_lg',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							single: '21 курс'
						})}}
					</div>
					<div class="online-courses__main-col col-4 col-md-12">
						{{ui.course({
							class: 'course_img course_lg',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							single: '21 курс'
						})}}
					</div>
					<div class="online-courses__main-col col-4 col-md-12">
						{{ui.course({
							class: 'course_img course_lg',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							single: '21 курс'
						})}}
					</div>
				</div>
			</div>
		</div>
		<div class="online-courses__wrap">
			<div class="online-courses__inner inner">
				<div class="online-courses__list row">
					<div class="online-courses__col col-3 col-md-6 col-sm-12">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12 sm-hide">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12 sm-hide">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12 sm-hide">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					<div class="online-courses__col col-3 col-md-6 col-sm-12 sm-hide">
						{{ui.course({
							class: 'course_img',
							img: 'event2.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
				</div>
			</div>
		</div>
	</div>
	{{footer.block({ class: 'footer_mod' })}}
{% endblock %}