---
title: Home
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block()}}
	{% include "partials/_hero.html" %}
	{% include "partials/_about.html" %}
	{{seminar.block()}}
	{{course.block(
		{
			btn: 'Все онлайн курсы',
			title: 'Онлайн курсы'
		}
		)}}
	<div class="main-feedback">
		<div class="main-feedback__inner inner">
			<div class="main-feedback__wrap">
				{{ui.form({title: 'Получите подробную консультацию об обучении'})}}
			</div>
		</div>
	</div>
	{{event.block()}}
	{{instructor.block()}}
	{{testimonial.block()}}
	{{contacts.block()}}
	{{footer.block()}}
{% endblock %}