---
title: personal-office
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block()}}
	{{topTitle.block(
		{
			title: 'Мои курсы'
		}
	)}}
	<div class="personal-office online-courses">
		<div class="personal-office__inner inner">
			<div class="online-courses__main-list">
				<ul class="online-courses__row row">
					<li class="online-courses__main-col col-4 col-md-6 col-xs-12">
						{{ui.course({
							class: 'course_img course_lg',
							img: 'course.png',
							title: 'Пилатес для беременных',
							single: '90 мин'
						})}}
					</li>
					<li class="online-courses__main-col col-4 col-md-6 col-xs-12">
						<div class="empty">
							<div class="empty__inner">
								<a href="#" class="empty__plus plus">{{mixins.icon('plus')}}</a>
								<div class="empty__title">Выбрать новый курс</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		{{pilates.block(
			{
				class: 'pilates-block',
				title: 'Рекомендуем'
			}
			)}}
	</div>
	{{footer.block()}}
{% endblock %}