---
title: Schedule
---

{% extends "layouts/_layout.html" %}


{% block content %}
	{{header.block({class: 'header_bg'})}}
	<section class="schedule-page">
    <div class="schedule-page__inner inner" data-tabs='schedule'>
      <div class="schedule-page__head">
        <h2 class="schedule-page__title title">Расписание</h2>
        <ul class="schedule-page__tabs tabs">
          <li class="tabs__item">
            <button class="btn btn_blue" data-tabs-control='seminars'>По семинарам</button>
          </li>
          <li class="tabs__item">
            <button class="btn btn_blue" data-tabs-control='directions'>По направлениям</button>
          </li>
          <li class="tabs__item">
            <button class="btn btn_blue" data-tabs-control='cities'>По городам</button>
          </li>
        </ul>
      </div>
      <div data-tabs-wrapper='schedule'>
        <ul class="schedule-page__list" data-tabs-container='seminars'>
          {% set schedules = [
            {
              title: 'Microwave Cooking Is The Wave Of The Future',
              blocks: [
                { 
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Москва',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Otmar Doležal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                },
                {
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Санкт-Петербург',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Otmar Doležal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                },
                {
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Курск',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Deva Premal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                },
                {
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Санкт-Петербург',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Otmar Doležal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                }
              ]
            }
          ] %}
          {% for item in schedules %}
            <li class="schedule-page__item">
              {{ ui.schedule(item) }}
            </li>
          {% endfor %}
        </ul>
        <ul class="schedule-page__list" data-tabs-container='directions'>
          {% set schedules1 = [
            {
              title: 'Постуральная гимнастика уровень 1 (Групповые программы) часть 1',
              blocks: [
                { 
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Москва',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Otmar Doležal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                },
                {
                  dayStart: '01.12.2018',
                  dayEnd: '03.12.2018',
                  city: 'Москва',
                  direction: 'Пилатес',
                  treners: [
                    {
                      name: 'Otmar Doležal'
                    },
                    {
                      name: 'Otmar Doležal'
                    }
                  ],
                  adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
                  price: '17900'
                }
              ]
            }
          ] %}
          {% for item in [0,1,2] %}
              {% for item in schedules1 %}
                <li class="schedule-page__item">
                  {{ block(item) }}
                </li>
              {% endfor %}
          {% endfor %}
        </ul>
        <ul class="schedule-page__list" data-tabs-container='cities'>
          <li class="schedule-page__item">
            {{ block(schedules[0]) }}
          </li>
        </ul>
    </div>
  </section>
	{{footer.block()}}
{% endblock %}