---
title: Internal directions
---
{% extends "layouts/_layout.html" %}

{% block content %}
    {{ header.block({class: 'header_bg'}) }}
    <div class="inner">
    	
    	<div class="section">
    		{{ ui.form({title: 'Получите подробную консультацию об обучении'}) }}
    	</div>
        {{instructor.block()}}
        {{testimonial.block()}}
        <div class="section">
            {% set item = {
                img: 'certificate.png',
                title: 'Сертификат по окончании',
                text: 'После прохождения любого семинара мы предоставстим вам сертификат'
            } %}
            {{ui.certificate(item)}}
        </div>
    	<div class="section">
            <div class="head">
                <h3 class="title">Расписание</h3>
            </div>
		  {% set schedules = [
		    {
		      title: 'Microwave Cooking Is The Wave Of The Future',
		      blocks: [
		        { 
		          dayStart: '01.12.2018',
		          dayEnd: '03.12.2018',
		          city: 'Москва',
		          direction: 'Пилатес',
		          treners: [
		            {
		              name: 'Otmar Doležal'
		            },
		            {
		              name: 'Otmar Doležal'
		            }
		          ],
		          adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
		          price: '17900'
		        },
		        {
		          dayStart: '01.12.2018',
		          dayEnd: '03.12.2018',
		          city: 'Санкт-Петербург',
		          direction: 'Пилатес',
		          treners: [
		            {
		              name: 'Otmar Doležal'
		            },
		            {
		              name: 'Otmar Doležal'
		            }
		          ],
		          adress: 'метро Китай-Город, ул. Солянка, 1/2, 2 подъезд, 2 этаж',
		          price: '17900'
		        }
		      ]
		    }
		  ] %}
		  {% for item in schedules %}
		      {{ ui.schedule(item) }}
		  {% endfor %}
    	</div>
    	<div class="section">
    		<div class="head">
    			<h1 class="title">Галерея</h1>
    		</div>
    		{{gallery.block([
    			{
    				img: 'gallery.png'
    			},
    			{
    				video: 'https://www.youtube.com/watch?v=_sI_Ps7JSEk',
    				img: 'event2.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			},
    			{
    				img: 'gallery.png'
    			}
    			])}}
    	</div>
    </div>
    {{ footer.block() }}
{% endblock %}