---
title: Course
---
{% extends "layouts/_layout.html" %}

{% block content %}
	{{header.block({class: 'header_bg'})}}
	<div class="single-course">
		<div class="single-course__inner inner">
			<div class="single-course__btn">
				<button class="btn btn_back">
					{{mixins.icon('back')}}
					Все курсы
				</button>
			</div>
			<div class="single-course__main">
				<div class="single-course__left">
					{{ui.course({
						class: 'course_img course_buy',
						img: 'course.png',
						title: 'Постуральная гимнастика — гимнастика осанки',
						time: '90 мин',
						price: '1 500 ₽'
					})}}
					<div class="single-course__buy">
						<button type="button" class="btn btn_white btn_w100">Купить курс на диске</button>
					</div>
				</div>
				<div class="single-course__right">
					<h2 class="single-course__title title title_xl">Постуральная гимнастика — гимнастика осанки</h2>
					<div class="single-course__text">
						<p>Ведущая - Жанна Комлева, мастер-тренер Пилатес Институт Россия, одна из самых опытных тренеров нашей страны по пилатесу и постуральной гимнастике.</p>
						<p>Осанка обеспечивается балансом силы и эластичности мышц, действующих на сустав. Боль, волнение, тревога обычно сопровождаются напряжением скелетных мышц. Также ежедневное принятие неправильных поз и движений приводит к мышечным дисбалансам, которые меняют нормальное положение сустава. Как следствие - сустав теряет двигательный объём, а тело приобретает некорректную осанку.</p>
					</div>
					{% for item in [
						{
							title: 'Постуральная гимнастика - это системный тренировочный процесс для:',
							list: [
								'улучшения осанки',
								'улучшения функциональности суставов',
								'предупреждения дегенеративных процессов и патологий',
								'уменьшения болевых ощущений в суставах.'
							]
						},
						{
							title: 'При работе над суставом руководствуемся знаниями:',
							list: [
								'анатомия строении суставов',
								'физиологиия мышечной и соединительной системы',
								'нервно-мышечная физиология',
								'биомеханика'
							]
						},
						{
							title: 'Добиваемся:',
							list: [
								'улучшения мышечной эластичности',
								'улучшения мобильности суставов',
								'ослабления напряжения шейной мускулатуры',
								'ослабления напряжения поясничной мускулатуры',
								'восстановления баланса плечевого и поясничного поясов',
								'восстановления физиологических изгибов позвоночника',
								'улучшения телесного самочувствия',
								'снятия эмоционального напряжения'
							]
						}
					] %}
					<h3 class="single-course__list-title title title_sm sm-hide">{{item.title}}</h3>
					<ul class="single-course__list list sm-hide">
						{% for listItem in item.list %}
							<li class="list__item">{{listItem}}</li>
						{% endfor %}
					</ul>
					{% endfor %}
				</div>
			</div>
			<div class="single-course__recommend single-recommend">
				<h2 class="single-recommend__title title">Рекомендуем</h2>
				<div class="single-recommend__row row js-small-slider">
					{% for item in range(0, 4) %}
					<div class="single-recommend__col col-3 col-md-6 col-sm-12">
						{{ui.course({
							class: 'course_img',
							img: 'course.png',
							title: 'Пилатес для беременных',
							time: '90 мин',
							price: '1 500 ₽'
						})}}
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
	{{footer.block()}}
{% endblock %}