---
title: UI
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ui.course({
		title: 'Пилатес для беременных',
		time: '90 мин',
		price: '1 500 ₽'
	})}}
	<br>
	{{ui.event({
		img: 'event1.jpg',
		title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
		event: 'Пилатес',
		date: '/ 01.12.2019'
	})}}
	<br>
	{{ui.instructor({
		name: 'Gussie Hammond',
		aside: 'Стаж инструктора 10 лет',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
	})}}
	<br>
	{{ui.testimonial({
		name: 'Harold Roberts',
		aside: 'Студентка Пилатоса',
		quote: 'Lorem ipsum dolor sit amet, outdd consectetur adipiscing elit.',
		text: 'Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
	})}}
	<br>
	{{ui.form({title: 'Получите подробную консультацию об обучении'})}}
	<br>
	{{ui.seminar({
		img: 'seminar.png',
		title: 'Пилатес	',
		items: [
			'MatWork уровень 1 - (Базовый курс)',
			'MatWork уровень 2 + работа с малым оборудованием',
			'Работа с большим оборудованием',
			'Пилатес для беременных',
			'Пилатес для беременных и людей старшего возраста',
			'Функциональный пилатес'
		]
		})}}
	<br>
	{{ui.map({title: 'Москва'})}}
{% endblock %}