---
title: UI
---
{% extends "layouts/_layout.html" %}

{% block content %}

	{{ui.course()}}
	<br>
	{{ui.event()}}
	<br>
	{{ui.instructor()}}
	<br>
	{{ui.testimonial()}}
	<br>
	{{ui.form({title: 'Получите подробную консультацию об обучении'})}}
	<br>
	{{ui.seminar({
		img: 'seminar.png',
		title: 'Пилатес	',
		items: [
			'MatWork уровень 1 - (Базовый курс)',
			'MatWork уровень 2 + работа с малым оборудованием',
			'Работа с большим оборудованием',
			'Пилатес для беременных',
			'Пилатес для беременных и людей старшего возраста',
			'Функциональный пилатес'
		]
		})}}
	<br>
	{{ui.map({title: 'Москва'})}}
{% endblock %}