<div class="basket">
  <div class="basket__row row">
    <div class="basket__info col-9 col-sm-12">
      <div class="basket-info">
        <div class="basket-info__name">
          <div class="basket-info__title">Курс</div>
          <div class="basket-info__text">
            Microwave Cooking Is The Wave Of The Future
          </div>
        </div>
        <div class="basket-info__duration">
          <div class="basket-info__title">Длительность</div>
          <div class="basket-info__text">90 минут</div>
        </div>
        <div class="basket-info__price">
          <div class="basket-info__title">Стоимость</div>
          <div class="basket-info__text">1500 ₽</div>
        </div>
        <div class="basket-info__delete">
          <button type="button" class="delete-btn">
            {{ mixins.icon("close") }}
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="basket__row row">
    <div class="basket__info col-9 col-sm-12">
      <div class="basket-info">
        <div class="basket-info__name">
          <div class="basket-info__title">Курс</div>
          <div class="basket-info__text">
            Microwave Cooking Is The Wave Of The Future
          </div>
        </div>
        <div class="basket-info__duration">
          <div class="basket-info__title">Длительность</div>
          <div class="basket-info__text">90 минут</div>
        </div>
        <div class="basket-info__price">
          <div class="basket-info__title">Стоимость</div>
          <div class="basket-info__text">1500 ₽</div>
        </div>
        <div class="basket-info__delete">
          <button type="button" class="delete-btn">
            {{ mixins.icon("close") }}
          </button>
        </div>
      </div>
    </div>
    <div class="basket__total col-3  col-sm-12">
      <div class="basket-total">
        <span class="basket-total__title">Итого:</span>
        <span class="basket-total__number">1500 ₽</span>
      </div>
    </div>
  </div>
</div>
