{% import "partials/_ui.html" as ui %}
{% macro block(props) %}
	<div class="contacts-block section">
		<div class="head">
			<h2 class="head__title title">Контакты</h2>
		</div>
		<div class="contacts-block__map row">
			<div class="contacts-block__col col-6 col-md-12">
				{{ui.map({
					title: 'Москва',
					id: 'map'
				})}}
			</div>
			<div class="contacts-block__col col-6 col-md-12">
				{{ui.map({
					title: 'Санкт-петербург',
					id: 'map2'
				})}}
			</div>
		</div>
	</div>
{% endmacro %}