{% import "partials/_ui.html" as ui %}
{% macro block(props) %}
<div class="event-block">
	<div class="event-block__inner inner" data-tabs>
		<div class="event-block__head">
			<h2 class="event-block__title title">Ближайшие мероприятия</h2>
			<ul class="event-block__tabs tabs">
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='Moscow'>Москва</button>
				</li>
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='SaintP'>Санкт-Петербруг</button>
				</li>
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='Other'>Другие города</button>
				</li>
			</ul>
			<div class="event-block__btn">
				<a href="#" class="btn">Полное рассписание</a>
			</div>
		</div>
		<div data-tabs-wrapper>
			<div class="event-block__list" data-tabs-container='Moscow'>
				<ul class="event-block__row row">
					<li class="event-block__col col-4 col-sm-12">
						{{ui.event({
							img: 'event1.jpg',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="event-block__col col-4 col-sm-12">
						{{ui.event({
							img: 'event1.jpg',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="event-block__col col-4 col-sm-12">
						{{ui.event({
							img: 'event1.jpg',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
				</ul>
			</div>
			<div class="event-block__list sm-hide" data-tabs-container='SaintP'>
				<ul class="event-block__row row">
					<li class="event-block__col col-4">
						{{ui.event({
							img: 'event2.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="event-block__col col-4">
						{{ui.event({
							img: 'event2.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="event-block__col col-4">
						{{ui.event({
							img: 'event2.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
				</ul>
			</div>
			<div class="event-block__list sm-hide" data-tabs-container='Other'>
				<ul class="event-block__row row">
					<li class="col-4">
						{{ui.event({
							img: 'event3.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="col-4">
						{{ui.event({
							img: 'event3.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
					<li class="col-4">
						{{ui.event({
							img: 'event3.png',
							title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
							event: 'Пилатес',
							date: '/ 01.12.2019'
						})}}
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="inner">
		<div class="event-block__btn_mob">
			<a href="#" class="btn">Полное рассписание</a>
		</div>
	</div>
</div>
{% endmacro %}