{% import "partials/_ui.html" as ui %}
{% macro block(props) %}
<section class="event-block" data-tabs>
	<div class="event-block__inner inner">
		<div class="event-block__head">
			<h2 class="event-block__title title">Ближайшие мероприятия</h2>
			<ul class="event-block__tabs tabs">
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='Moscow'>Москва</button>
				</li>
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='SaintP'>Санкт-Петербруг</button>
				</li>
				<li class="tabs__item">
					<button class="btn btn_blue" data-tabs-control='Other'>Другие города</button>
				</li>
			</ul>
			<div class="event-block__btn">
				<a href="#" class="btn">Полное рассписание</a>
			</div>
		</div>
		<div data-tabs-wrapper>
			<ul class="event-block__list row" data-tabs-container='Moscow'>
				<li class="col-4">
					{{ui.event({
						img: 'event1.jpg',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event1.jpg',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event1.jpg',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
			</ul>
			<ul class="event-block__list row" data-tabs-container='SaintP'>
				<li class="col-4">
					{{ui.event({
						img: 'event2.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event2.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event2.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
			</ul>
			<ul class="event-block__list row" data-tabs-container='Other'>
				<li class="col-4">
					{{ui.event({
						img: 'event3.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event3.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
				<li class="col-4">
					{{ui.event({
						img: 'event3.png',
						title: 'MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)',
						event: 'Пилатес',
						date: '/ 01.12.2019'
					})}}
				</li>
			</ul>
		</div>
	</div>
</section>
{% endmacro %}