{% import "partials/_mixins.html" as mixins %}
{% macro block(props) %}
<header class="header {% if props.class %}{{props.class}}{% endif %} js-header">
	<div class="header__top">
		<div class="header__inner inner">
			<p>Обучение и повышение квалификации тренеров по пилатесу с 2001 года</p>
			<ul class="header__contacts">
				<li class="header__phone">
					<a href="tel:+74952553056">+7 (495) 255 30 56</a>
				</li>
				<li class="header__phone">
					<a href="tel:+78123856366">+7 (812) 385 63 66</a>
				</li>
				<li class="header__mail">
					<a href="mailto:contact@pilates-institute.ru">contact@pilates-institute.ru</a>
				</li>
			</ul>
		</div>
	</div>
		<div class="header__main">
			<div class="header__inner inner">
				<h1 class="header__logo logo">
					<a href="#">
						<img src="./img/logo.png" alt="pilates">
					</a>
				</h1>
				<nav class="header__nav nav">
					<ul class="nav__list">
						{% for item in [
							{nav: 'Главная'},
							{nav: 'О нас',
								list: ['Новости', 'Отзывы', 'Галерея']},
							{nav: 'Обучение',
								list: ['Пилатес  MatWork 1', 'Пилатес  MatWork 2', 'Большое оборудование', 'Постуральная гимнастика']},
							{nav: 'Онлайн курсы'},
							{nav: 'Преподаватели'},
							{nav: 'Контакты'}
							] %}
						<li class="nav__item {% if loop.index == props.index %}nav__item_current{% endif %}">
							<a href="#" class="nav__link">{{item.nav}}</a>
							{% if item.list %}
							<ul class="nav__sublist">
								{% for sub in item.list %}
								<li class="nav__subitem">
									<a href="#">{{sub}}</a>
								</li>
								{% endfor %}
							</ul>
							{% endif %}
						</li>
						{% endfor %}
					</ul>
				</nav>
				<div class="header__group">
					<a href="#" class="header__icon">{{mixins.icon('user')}}</a>
					<a href="#" class="header__icon">{{mixins.icon('basket')}}</a>
					<div class="header__btn">
						<a href="schedule.html" class="btn">Расписание</a>
					</div>
				</div>
				<div class="header__toggle js-toggle">
					<div class="header__toggle-icon js-toggle-icon"></div>
				</div>
			</div>
		</div>
</header>
{% endmacro %}