<div class="hero">
    <div class="hero__slider-wrap hero-slider-wrap js-hero-slider-wrap">

        <div class="hero__slider hero-slider js-hero-slider" data-duration="3000">
            {% for item in [
                {
                    bg: 'hero1.jpg',
                    title: 'Об Институте ',
                    titleSpan: 'Пилатеса'
                },
                {
                    bg: 'hero1.jpg',
                    title: 'Об Институте ',
                    titleSpan: 'Пилатеса'
                },
                {
                    bg: 'hero1.jpg',
                    title: 'Об Институте ',
                    titleSpan: 'Пилатеса'
                },
                {
                    bg: 'hero1.jpg',
                    title: 'Об Институте ',
                    titleSpan: 'Пилатеса'
                }
            ] %}
                
                <div class="hero-slider__slide">
                    <div class="hero-slider__content" style="background-image: url(./img/{{ item.bg }})">
                        <div class="hero__container">
                            <div class="hero__content">
                                <div class="hero__inner inner inner_md">
                                    <h2 class="hero__title title title_line title_white">
                                        {{ item.title }}
                                        <span>{{ item.titleSpan }}</span>
                                    </h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            {% endfor %}
        </div>
    </div>
</div>