{% import "partials/_ui.html" as ui %}
{% macro block(props) %}
<section class="instructor-block">
	<div class="instructor-block__inner inner">
		<ul class="instructor-block__row row">
			<li class="instructor-block__col col-4 col-md-4 col-sm-12">
				{{ui.instructor({
					name: 'Gussie Hammond',
					aside: 'Стаж инструктора 10 лет',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				})}}
			</li>
			<li class="instructor-block__col col-4 col-md-4 col-sm-12">
				{{ui.instructor({
					name: 'Gussie Hammond',
					aside: 'Стаж инструктора 10 лет',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				})}}
			</li>
			<li class="instructor-block__col col-4 col-md-4 col-sm-12">
				{{ui.instructor({
					name: 'Gussie Hammond',
					aside: 'Стаж инструктора 10 лет',
					text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit.'
				})}}
			</li>
		</ul>
		<div class="instructor-block__btn">
			<a href="#" class="btn">Все преподаватели</a>
		</div>
	</div>
</section>
{% endmacro %}