{% import "partials/_ui.html" as ui %}
{% macro block(props) %}
<div class="course-block {% if props.class %}{{props.class}}{% endif %}">
	<div class="course-block__inner inner">
		<div class="course-block__head">
			{% if props.title %}
			<h2 class="course-block__title title title_lg">{{props.title}}</h2>
			{% endif %}
			{% if props.btn %}
			<div class="course-block__btn">
				<a href="#" class="btn">{{props.btn}}</a>
			</div>
			{% endif %}
		</div>
		<ul class="course-block__list row js-small-slider">
			<li class="col-3 col-md-6 col-xs-12">
					{{ui.course({
						class: 'course_img',
						img: 'course.png',
						title: 'Пилатес для беременных',
						time: '90 мин',
						price: '1 500 ₽'
					})}}
			</li>
			<li class="col-3 col-md-6 col-xs-12">
					{{ui.course({
						class: 'course_img',
						img: 'course.png',
						title: 'Пилатес для беременных',
						time: '90 мин',
						price: '1 500 ₽'
					})}}
			</li>
			<li class="col-3 col-md-6 col-xs-12">
					{{ui.course({
						class: 'course_img',
						img: 'course.png',
						title: 'Пилатес для беременных',
						time: '90 мин',
						price: '1 500 ₽'
					})}}
			</li>
			<li class="col-3 col-md-6 col-xs-12">
					{{ui.course({
						class: 'course_img',
						img: 'course.png',
						title: 'Пилатес для беременных',
						time: '90 мин',
						price: '1 500 ₽'
					})}}
			</li>
		</ul>
		{% if props.btn %}
		<div class="course-block__btn_mob">
			<a href="#" class="btn">{{props.btn}}</a>
		</div>
		{% endif %}
	</div>
</div>
{% endmacro %}