{% import "partials/_ui.html" as ui %}
{% macro block(props) %}	
<div class="seminar-block section">
	<div class="head">
		<h2 class="head__title title">Направления и семинары</h2>
	</div>
	<div class="seminar-block__row row">
		<div class="seminar-block__col col-4 col-sm-12">
			{{ui.seminar({
				img: 'seminar.png',
				title: 'Пилатес',
				items: [
					'MatWork уровень 1 - (Базовый курс)',
					'MatWork уровень 2 + работа с малым оборудованием',
					'Работа с большим оборудованием',
					'Пилатес для беременных',
					'Пилатес для беременных и людей старшего возраста',
					'Функциональный пилатес'
				]
				})}}
		</div>
		<div class="seminar-block__col col-4 col-sm-12">
			{{ui.seminar({
				img: 'seminar.png',
				title: 'Пилатес',
				items: [
					'MatWork уровень 1 - (Базовый курс)',
					'MatWork уровень 2 + работа с малым оборудованием',
					'Работа с большим оборудованием',
					'Пилатес для беременных',
					'Пилатес для беременных и людей старшего возраста',
					'Функциональный пилатес'
				]
				})}}
		</div>
		<div class="seminar-block__col col-4 col-sm-12">
			{{ui.seminar({
				img: 'seminar.png',
				title: 'Пилатес',
				items: [
					'MatWork уровень 1 - (Базовый курс)',
					'MatWork уровень 2 + работа с малым оборудованием',
					'Работа с большим оборудованием',
					'Пилатес для беременных',
					'Пилатес для беременных и людей старшего возраста',
					'Функциональный пилатес'
				]
				})}}
		</div>
	</div>
</div>
{% endmacro %}