{# 									COURSE #}
{% macro course(props) %}
<div class="course {% if props.class %}{{props.class}}{% endif %}">
	<div class="course__top">
		<div class="course__aside">Пилатес</div>
		<h3 class="course__title title title_lg">Пилатес для беременных</h3>
	</div>
	<div class="course__bottom">
		<div class="course__time">90 мин</div>
		<div class="course__price">1 500 ₽</div>
	</div>
</div>
{% endmacro %}
{# 									COURSE #}

{# 									EVENT #}
{% macro event(props) %}
<div class="event {% if props.class %}{{props.class}}{% endif %}">
	<div class="event__img">
		<img src="./img/event1.jpg" alt="event">
	</div>
	<div class="event__date"><span>Пилатес</span> / 01.12.2019</div>
	<h4 class="event__title title title_md">MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)</h4>
</div>
{% endmacro %}
{# 									EVENT #}