{# 									COURSE #}
{% macro course(props) %}
<div class="course {% if props.class %}{{props.class}}{% endif %}">
	<div class="course__top">
		<div class="course__aside">Пилатес</div>
		<h3 class="course__title title title_md">Пилатес для беременных</h3>
	</div>
	<div class="course__bottom">
		<div class="course__time">90 мин</div>
		<div class="course__price">1 500 ₽</div>
	</div>
</div>
{% endmacro %}
{# 									COURSE #}

{# 									EVENT #}
{% macro event(props) %}
<div class="event {% if props.class %}{{props.class}}{% endif %}">
	<div class="event__img">
		<img src="./img/event1.jpg" alt="event">
	</div>
	<div class="event__date"><span>Пилатес</span> / 01.12.2019</div>
	<h4 class="event__title title title_md">MATWORK УРОВЕНЬ 1 - (БАЗОВЫЙ КУРС)</h4>
</div>
{% endmacro %}
{# 									EVENT #}

{# 									INSTRUCTOR #}
{% macro instructor() %}
<div class="instructor">
	<div class="instructor__top"></div>
	<div class="instructor__bottom">
		<div class="instructor__img" style="background-image: url(./img/instructor.png)"></div>
		<h4 class="instructor__title title title_md">Gussie Hammond</h4>
		<div class="instructor__aside">Стаж инструктора 10 лет</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
	</div>
</div>
{% endmacro %}
{# 									INSTRUCTOR #}

{# 									TESTIMONIAL #}
{% macro testimonial() %}
	<div class="testimonial">
		<div class="testimonial__top"></div>
		<div class="testimonial__bottom">
			<p>Lorem ipsum dolor sit amet, outdd</p>
			<p>consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio. Lorem ipsum dolor sit amet, consectetur adipiscing elit. </p>
		</div>
	</div>
{% endmacro %}
{# 									TESTIMONIAL #}