.contacts-block
	padding: 160px 0 128px
	+sm
		padding: 80px 0 0
	.contacts-page &
		padding: 239px 0
		+md
			padding: 101px 0 0
	&__inner
		+sm
			padding: 0
	&__title
		+sm
			padding-bottom: 16px
			padding: 0 15px
	&__map
		padding-top: 70px
		+md
			padding-top: 0	