.course-block
	padding-top: 155px
	+md
		padding-top: 80px
	&.pilates-block
		&:not(:first-child)
			padding-top: 125px
			+md
				padding-top: 80px
			.personal-office &
				+xs
					padding-top: 52px
	&__head
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		.pilates-block &
			+sm
				font-size: 25px
		.personal-office &
			margin-bottom: 20px
			font-size: 44px
			+md
				font-size: 25px
	&__list
		padding-top: 65px
		+md
			padding-top: 20px
			// max-width: 610px
			margin: 0 auto
		.col-3
			+md
				margin-top: 16px
		.pilates-block &
			padding-top: 45px
			+md
				padding-top: 30px
			.personal-office &
				+xs
					padding-top: 0
			.slick-list
				+xs
					max-width: 400px
	&__btn
		+sm
			display: none
		&_mob
			display: none
			.btn
				min-width: 288px
			+sm
				display: block
				text-align: center
				margin-top: 34px