.course-block
	padding-top: 8.5em
	+md
		padding-top: 60px
	&__head
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		padding: 0.67em 0
	&__list
		padding-top: 2.7em
	&__btn
		+sm
			display: none
		&_mob
			display: none
			+sm
				display: block