.footer
	color: $white
	padding: 73px 0
	background-color: $footer
	margin-top: 150px
	+sm
		margin-top: 60px
		padding: 36px 0
	&_mod
		margin-top: 0
		+sm
			margin-top: 0
	a
		border-bottom: 1px solid transparent
		transition: border-color .3s
		+hover
			border-color: currentColor
	&__top
	&__row
	&__logo
		max-width: 223px
		+sm
			max-width: 127px
		a
			border: none
	&__socials
		justify-content: flex-end
		+md
			justify-content: flex-start
			margin-top: 28px
	&__bottom
		// display: flex
		// justify-content: flex-end
		padding-top: 67px
		font-size: 15px
		&-inner
			display: flex
			justify-content: space-between
			flex-wrap: wrap
		+sm
			padding-top: 34px
	&__info
		display: flex
		padding-right: 20px
		flex-wrap: wrap
		+ms
			padding-right: 0
	&__policy
		+ms
			width: 100%
		&:not(:last-child)
			margin-right: 30px
			+sm
				margin-bottom: 13px
	&__studio
		+sm
			margin-top: 40px
	.contacts-info
		margin-top: -5px
		.contacts-info__title + .contacts-info__aside
			margin-top: 7px


.socials
	display: flex
	flex-wrap: wrap
	&__item
		&:not(:last-child)
			margin-right: 2em
			+sm
				margin-right: 16px
		a
			display: flex
			justify-content: center
			align-items: center
			font-size: 20px
			border: 2px solid currentColor
			width: 2.5em
			height: 2.5em
			border-radius: 10px
			transition: border-color .3s, color .3s
			+hover
				border-color: $blueHover
				color: $blueHover
			+sm
				font-size: 16px
				width: 35px
				height: 35px
	.icon-vk
		width: 1.3em