.about
	padding: 144px 0 154px
	position: relative
	min-height: 650px
	+sm
		padding: 60px 0 0
	&:before
		content: ''
		position: absolute
		top: 50px
		left: 0
		background-color: $blue
		width: 42.4%
		height: 84.6%
		border: 2px solid $white
		border-left: none
		box-shadow: 0 0 0px 50px $blue
		z-index: -1
		+sm
			display: none
	&__inner
		max-width: 1162px
		display: flex
		justify-content: center
		align-items: center
		position: relative
		+sm
			flex-wrap: wrap
	&__img
		width: 50%
		img
			display: block
			max-width: 100%
			+ms
				position: absolute
				top: 0
				left: 50%
				transform: translateX(-50%)
				max-width: none
				width: 400px
		+sm
			width: 100%
		+ms
			width: 100%
			position: relative
			height: 255px
			overflow: hidden
	&__text
		width: 50%
		padding-left: 60px
		margin-top: -1em
		+md
			padding-left: 30px
			margin-top: 0
		+sm
			padding-left: 0
			width: 100%
	&__title
		padding-bottom: 22px
		// margin-top: -0.4em
		+sm
			margin-top: 50px
		&.title
			+md
				font-size: 30px
	&__dots
		position: absolute
		right: 28px
		bottom: -107px
		
// DOTS
.dots
	display: flex
	flex-wrap: wrap
	justify-content: space-between
	align-items: center
	max-width: 54px
	width: 100%
	&__item
		width: 8px
		height: 8px
		margin: 4px 5px
		background-color: $black
	+sm
		display: none
		
// SEMINAR
.seminar-block
	&__col
		+sm
			&:not(:first-child)
				margin-top: 30px

// COURSE
.course-block
	&__col
		+md
			margin-bottom: 16px
	&__btn
		margin-top: 18px
		
// EVENT
.event-block
	+sm
		overflow: visible
	&__head
		display: flex
		align-items: center
		flex-wrap: wrap
	&__title
		max-width: 33%
		+md
			max-width: none
			width: 100%
		+ms
			padding: 0 16px
	&__list
		padding-top: 60px
		+sm
			padding-top: 30px
	&__col
		+sm
			&:not(:first-child)
				margin-top: 30px
	&__tabs
		margin-top: 30px
		margin-left: auto
		margin-right: 30px
		+lg 
			margin-right: 0
		+md
			margin-left: 0
		+sm
			display: none
	&__btn
		margin-top: 30px
		+lg
			display: none
	&__btn-mob
		+lg
			display: block
			text-align: center
			margin-top: 37px


// testimonial
.testimonial-block
	&__row
		+sm
			white-space: nowrap
			overflow: hidden
			opacity: 0
			visibility: hidden
			transition: opacity .3s, visibility .3s
			&.slick-initialized
				white-space: normal
				overflow: visible
				opacity: 1
				visibility: visible

// CONTACTS
.contacts-block
	padding-bottom: 128px
	overflow: hidden
	+md
		padding-bottom: 0
	+sm
		overflow: visible
	&__col
		+md
			padding: 0
			&:not(:last-child)
				margin-bottom: 40px
	&__map
		+md
			margin: 0 -16px