.instructor-block
	padding-top: 8.5em
	+lg
		padding-top: 60px
	&__head
		display: flex
		align-items: center
		justify-content: space-between
	&__title
		padding: 0.67em 0
	&__list
		padding-top: 2.7em
		+md
			max-width: 400px
			margin: 0 auto
		li
			+md
				&:not(:first-child)
					margin-top: 16px
	&__btn
		+sm
			display: none
		&_mob
			display: none
			+sm
				display: block
				text-align: center
				margin-top: 30px