.news-one
	margin-top: 178px
	+md
		margin-top: 90px
	&__inner
		+ms
			padding: 0
	&__main
		margin-top: 50px
		display: flex
		+sm
			margin-top: 40px
			flex-wrap: wrap
			justify-content: center
	&__left
		max-width: 317px
		width: 100%
		+ms
			max-width: none
	&__right
		max-width: 700px
		padding-left: 50px
		+md
			padding-left: 30px
		+sm
			padding-left: 0
			margin-top: 40px
		+ms
			padding: 0 16px
	&__buy
		margin-top: 14px
	&__text
		margin-top: 20px
		line-height: 2
		letter-spacing: 0.003em
		p
			&:not(:first-child)
				margin-top: 18px
	&__list-title
		margin-top: 20px
	&__list
		margin-top: 11px
	&__recommend
		margin-top: 114px
		+md
			margin-top: 77px