.seminar
	&__wrap
		margin-top: 125px
		+md
			margin-top: 80px
		&-sm
			margin-top: 70px
		&-lg
			margin-top: 150px
			+md
				margin-top: 65px

.pilates-block
	&__row
		margin-top: 40px
		+md
			margin-top: 30px