.seminar-block
	padding-top: 8.1em
	+md
		padding-top: 60px
	&__title
		padding: 0.67em 0
	&__list
		padding-top: 2.7em
		+md
			padding-top: 20px
	.seminar
		+sm
			&:not(:first-child)
				margin-top: 30px