.hero-slider-wrap
    position: relative
    overflow: hidden
    opacity: 0
    transition: opacity .35s ease-in-out
    &.is-init
        opacity: 1
.hero-slider
    // height: 100%
    &__slide
        height: 100vh
        width: 100%
        position: relative
    &__content
        height: 100%
        background-position: center
        background-size: cover
        background-repeat: no-repeat
    .slick-dots
        position: absolute
        display: flex
        left: 50%
        bottom: 30px
        transform: translateX(-50%)
        li
            &:not(:first-child)
                margin-left: 20px
    &__dot
        // display: inline-block
        position: relative
        background-color: #000
        border-radius: 50%
        width: 34px
        height: 34px
        transition: background-color .8s
        .slick-active &
            background-color: $orange
        svg
            position: absolute
            top: 0
            left: 0
            +rotate(-90)
            // +sm
            // 	display: none
            circle
                stroke: $white
                .slick-initialized &
                    stroke-dasharray: 100
                    stroke-dashoffset: 0
                    animation: dashRevers 0.8s ease alternate forwards
                .slick-initialized li.slick-active &
                    // stroke: $white
                    animation: dashPlay ease alternate forwards

@keyframes dashPlay
    from
        stroke-dashoffset: 100
    to
        stroke-dashoffset: 0
@keyframes dashRevers
	from
		stroke-dashoffset: 0
	to
		stroke-dashoffset: 100