.testimonial-block
	padding-top: 150px
	+lg
		padding-top: 78px
	&__head
		display: flex
		align-items: center
		justify-content: space-between
	&__list
		padding-top: 70px
		+md
			padding-top: 40px
	.col-4
		+md
			&:not(:first-child)
				margin-top: 16px
	&__btn
		+md
			display: none
		&_mob
			display: none
			.btn
				min-width: 288px
			+md
				display: block
				text-align: center
				margin-top: 25px
	.slick-dots
		display: flex
		align-items: center
		padding-top: 10px
		li
			&:not(:first-child)
				margin-left: 6px