// 												COURSE
.course
	padding: 1.7em 2em
	background-color: $white
	box-shadow: 0 20px 56px -33px rgba($black, 0.2)
	min-height: 300px
	display: flex
	flex-direction: column
	justify-content: space-between
	max-width: 317px
	width: 100%
	border-radius: 10px
	transition: background-color .4s, color .4s, box-shadow .4s
	+hover
		background-color: $orange
		color: $white
		box-shadow: 0 25px 42px -14px $orange
		.course__aside
			color: $white
		.course__price:before
			background-color: $white
		.course__title.title
			color: $white
	&__aside
		color: $grayLight
		transition: color .4s
	&__bottom
		display: flex
		padding-top: 1em
		+f(1.2em, 700)
		letter-spacing: normal
	&__price
		margin-left: 30px
		position: relative
		&:before
			content: ''
			position: absolute
			+circle(7)
			background-color: $black
			left: -18.5px
			top: 50%
			margin-top: -3.5px
			transition: background-color .4s
	&__title
		margin-top: .4em
		transition: color .4s

// 												EVENT
.event
	max-width: 433px
	width: 100%
	&__img
		img
			max-width: 100%
			display: block
	&__date
		font-size: 16px
		line-height: 1.75
		padding-top: 1.25em
		letter-spacing: normal
		span
			text-transform: uppercase
			color: $orange
			font-weight: 700
	&__title
		max-width: 300px
		margin-top: 0.25em

// 										INSTRUCTOR
.instructor
	background-color: $white
	max-width: 433px
	width: 100%
	box-shadow: 0 20px 56px -33px rgba(0, 0, 0, 0.2)
	border-radius: 10px
	overflow: hidden
	&__top
		background-color: $blue
		padding-bottom: 34%
		position: relative
		overflow: hidden
		&:before
			content: ''
			position: absolute
			top: 1.33em
			left: 2em
			right: 2em
			bottom: -1em
			border: 1px solid $white
			border-radius: 10px
	&__bottom
		text-align: center
		padding: 0 2em 2.66em
		p
			text-align: left
			line-height: 1.9
	&__img
		+circle(120)
		+cover
		margin: -5.7em auto 0
		overflow: hidden
		z-index: 1
		position: relative
	&__title
		margin-top: 0.5em
	&__aside
		letter-spacing: 0.063em
		color: $grayLight
		margin-bottom: 1em

// 									TESTIMONIAL
.testimonial
	background-color: $white
	padding: 2em 2em 2.66em
	max-width: 433px
	width: 100%
	box-shadow: 0 20px 56px -33px rgba(0, 0, 0, 0.2)
	border-radius: 10px
	&__top
		display: flex
		align-items: center
	&__img
		flex-shrink: 0
		+circle(90)
		+cover
		overflow: hidden
		margin-right: 1.33em
	&__aside
		color: $grayLight
		letter-spacing: 0.033em
	&__bottom
		position: relative
		margin-top: 1.6em
		&:before
			content: ''
			position: absolute
			width: 54px
			height: 38px
			background-image: url(../img/quotes.svg)
			+cover
			top: 9px
			left: 0
		p
			z-index: 1
			position: relative
			&:first-child
				padding: 0 2em

// 										FEEDBACK
.feedback
	padding: 2em
	background-color: $blue
	&__inner
		border: 2px solid $white
		padding: 2.36em 4em
	&__title
		text-align: center
		margin-bottom: 1.28em
		&.title
			color: $white
	&__check
		text-align: center
		margin-top: 2.66em
		color: $white
		letter-spacing: normal

// 										FORM
.form
	// width: 100%
	display: flex
	justify-content: center
	align-items: center
	&__btn
		padding-left: 10px
.form-group
	max-width: 300px
	width: 100%
	padding: 0 10px
	input
		color: $grayLight
		+verdana
		+f(15px, 400)
		letter-spacing: 0.066em
		padding: 1.33em
		background-color: $white
		border-radius: 10px
		width: 100%
		&:focus
			&::placeholder
				font-size: 0
		+placeholder
			color: $grayLight
			+verdana
			+f(15px, 400)
			letter-spacing: 0.066em
.checkbox
	position: relative
	cursor: pointer
	&__icon
		position: absolute
		top: -5px
		left: -39px
		width: 25px
		height: 25px
		border-radius: 4px
		border: 1px solid $white
	input
		position: absolute
		width: 1px
		height: 1px
		margin: -1px
		padding: 0
		border: 0
		clip: rect(0 0 0 0)
		overflow: hidden
		&:checked
			~ .checkbox__icon
				background-image: url(../img/check.svg)
				background-size: 70%
				background-repeat: no-repeat
				background-position: 50% 50%

// 									SEMINAR
.seminar
	max-width: 433px
	width: 100%
	color: $black
	&__top
		+cover
		border-radius: 10px
		// overflow: hidden
		height: 0
		padding-bottom: 57.75%
		box-shadow: 0 20px 42px -24px rgba(0, 0, 0, 0.3)
		position: relative
	&__btn
		position: absolute
		left: 0
		bottom: 0
	&__list
		box-shadow: 0 20px 42px -18px rgba(0, 0, 0, 0.24)
		background-color: $white
		border-radius: 10px
		margin-top: 20px
	&__item
		padding: 1.8em 2em
		font-weight: 700
		letter-spacing: 0.033em
		line-height: 1.66
		&:not(:last-child)
			border-bottom: 1px solid $grayBorder

// 										MAP
.map
	width: 100%
	height: 533px
// 										CONTACTS
.contacts
	color: $black
	max-width: 665px
	width: 100%
	position: relative
	&__info
		position: absolute
		bottom: -127px
		left: 50%
		transform: translateX(-50%)
		z-index: 1
		background-color: $white
		max-width: 350px
		width: 100%
		padding: 2em
		border-radius: 10px
		box-shadow: 0 20px 56px -33px rgba(0, 0, 0, 0.2)
	&__aside
		margin-top: 0.8em
		margin-bottom: 0.1em
		color: $grayLight
	address
		font-style: normal
		line-height: 1.73